.feynman__link {
   position: absolute;
   top: 50%;
   right: 48px;
    
}
.feynman__link a {    
    line-height: 51px;
    font-size: 26px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
}