.footer__columns-links {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #FFF;
    margin: 0;
    /* padding-bottom: 16px; */
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}