.digits__section_section-title {
    padding-top: 100px;
    /* width: 60%; */
    line-height: 1.15;
    font-size: 40px;
    font-weight: 600;

}
.digits__section_section-title h1 {
    margin: 0;
}