.header__subtitle {
    width: 338px;
    position: absolute;
    left: 64px;
    bottom: 30px;
    line-height: 20px;
    font-weight: normal;
}
.header__subtitle a {
    text-decoration: none;
    
}